In [1]:
import pandas as pd
from numpy import nan as NA

In [8]:
data_path = './anjuke_community_clean.csv'
df = pd.read_csv(data_path, encoding='gbk')

In [9]:
df.head(3)

,community_id,community_name,url,district,township,address,age,developer,property_company,property_type,...,level_comm_num,school_score,nursery_num,junior_num,middle_num,commerce_score,restaurant_num,bank_num,supermarket_num,average_price
0,1,莲园小区,https://shanghai.anjuke.com/community/view/1/,浦东,北蔡,莲园路518弄,1996年,上海吉松物业管理公司,NaN,公寓,...,237.0,7.0,5.0,3.0,2.0,5.0,306.0,54.0,128.0,57483
1,100,碧云国际社区晓园,https://shanghai.anjuke.com/community/view/100/,浦东,碧云,红枫路358弄,2006年,上海中通贵云实业有限公司,上海金晨物业经营管理有限公司,公寓,...,0.0,5.0,4.0,1.0,2.0,6.0,189.0,24.0,35.0,84345
2,1000,闵行水仙苑,https://shanghai.anjuke.com/community/view/1000/,闵行,春申,畹町路500弄,1998年,上海新闵房地产联合有限公司,上海阳光工联物业管理有限公司,公寓,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,57626

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23711 entries, 0 to 23710
Data columns (total 37 columns):
community_id               23711 non-null int64
community_name             23711 non-null object
url                        23711 non-null object
district                   23711 non-null object
township                   23711 non-null object
address                    23711 non-null object
age                        19555 non-null object
developer                  14292 non-null object
property_company           17014 non-null object
property_type              22623 non-null object
property_fee               18755 non-null float64
longitude                  23711 non-null float64
latitude                   23711 non-null float64
total_construction_area    11833 non-null float64
volume_rate                14062 non-null float64
total_houses               12029 non-null float64
parking_space              13782 non-null object
green_rate                 18610 non-null object
greet                      13883 non-null float64
comfort                    13883 non-null float64
traffic_score              13883 non-null float64
metro_station_num          13883 non-null float64
bus_station_num            13883 non-null float64
hospital_score             13883 non-null float64
level_three_num            13883 non-null float64
level_two_num              13883 non-null float64
level_one_num              13883 non-null float64
level_comm_num             13883 non-null float64
school_score               13883 non-null float64
nursery_num                13883 non-null float64
junior_num                 13883 non-null float64
middle_num                 13883 non-null float64
commerce_score             13883 non-null float64
restaurant_num             13883 non-null float64
bank_num                   13883 non-null float64
supermarket_num            13883 non-null float64
average_price              23711 non-null object
dtypes: float64(24), int64(1), object(12)
memory usage: 6.7+ MB

In [6]:
# 解决物业费中有问题的字段，不能转换为数值型
def solve_property_fee(ser_obj):
    except_index = []
    for i in range(0, len(ser_obj)):
        val = ser_obj[i]
        if val is not None:
            try:
                float(val)
            except:
                except_index.append(i)
    return except_index

In [15]:
except_index = solve_property_fee(df['parking_space'])
print(len(except_index))
df['parking_space'][except_index]

2205

0                                       充足
9                               地上150地下300
20                             车位数量:380 /只
26                                  150元/月
27                         地下2层，地面1层，共350个
42                                   地上停车位
51                                   地上停车位
58                                   地上停车位
59                                     76个
62                                    地上车位
63                                   地上停车位
69                                    约60个
72            地面车位900/月，地下车位1400/月共有车位306个
73                                     48个
75                                   地上停车位
94                                   地上停车位
101                                  地上停车位
104                               停车状况: 80
114                            地上24个;地下40个
119                                  地上停车位
120                                  地上56个
146                                     有的
147                                临时和自有车库
155                                 只有地面车库
159                                  地下58个
163                              地下97，地上75
164                               车位数量:60个
169                                  地上停车位
178                                    78个
183                                  充足100
                       ...
23322                                 100个
23330                                地上停车位
23332                              停车位：222
23353                                地上停车位
23354                               停车位充足。
23367                                 地上车位
23422                              总数：1200
23431                                   地面
23438                                   地面
23441                                地上停车位
23443                                   充足
23451                                地上停车位
23452                                地上停车位
23459                地面车位150元/月，地下车位300元/月
23515                       地上：200  地下：300
23536                   电瓶车每月30元 机动车每月150元
23572                                  90个
23573                          18个地上，42个地下
23590                                地面停车位
23604                                地上停车位
23612                             停车位：108个
23613                                地上停车位
23626    胡家木桥路35弄停车位地上300元/月，地下300/月10元/日。
23667                 700个 比例：3:14 地上车位：15
23668                       地面停车（地下停车暂无开放）
23675                                   地上
23694                                  路两旁
23699                              1500元/月
23701                        地下188个 1300元月
23704                                地下94个
Name: parking_space, dtype: object

In [17]:
df.replace('暂无均价', NA, inplace=True)

In [27]:
df['green_rate'] = df['green_rate'].dropna().apply(lambda x : x.split('%')[0])

In [29]:
df.to_csv('anjuke_community_clean.csv', index=False)