In [1]:
import pandas as pd

In [4]:
data_path = '../anjuke_community_original.csv'
df = pd.read_csv(data_path, encoding='gbk')
df.head(2)

,community_id,community_name,average_price,url,address,age,longitude,latitude,community_id.1,property_type,...,level_one_num,level_comm_num,school_score,nursery_num,junior_num,middle_num,commerce_score,restaurant_num,bank_num,supermarket_num
0,1,莲园小区,57483 元/平米,https://shanghai.anjuke.com/community/view/1/,［浦东-北蔡］莲园路518弄,1996年,31.192010,121.564893,1,公寓,...,1,237,7,5,3,2,5,306,54,128
1,100,碧云国际社区晓园,84345 元/平米,https://shanghai.anjuke.com/community/view/100/,［浦东-碧云］红枫路358弄,2006年,31.247488,121.598943,100,公寓,...,0,0,5,4,1,2,6,189,24,35

In [5]:
df.columns

Index(['community_id', 'community_name', 'average_price', 'url', 'address',
       'age', 'longitude', 'latitude', 'community_id.1', 'property_type',
       'total_construction_area', 'volume_rate', 'developer',
       'property_company', 'property_fee', 'total_houses', 'parking_space',
       'green_rate', 'greet', 'comfort', 'traffic_score', 'metro_station_num',
       'bus_station_num', 'hospital_score', 'level_three_num', 'level_two_num',
       'level_one_num', 'level_comm_num', 'school_score', 'nursery_num',
       'junior_num', 'middle_num', 'commerce_score', 'restaurant_num',
       'bank_num', 'supermarket_num'],
      dtype='object')

In [10]:
# 去除房价的单位（元/平米）
df['average_price'] = df['average_price'].apply(lambda x : x.split(' ')[0])

In [13]:
# 删除重复的列community_id.1
del df['community_id.1']

In [19]:
df['total_construction_area'].head(5)

0     3000m?
1    50000m?
2    26300m?
3    30000m?
4       暂无数据
Name: total_construction_area, dtype: object

In [20]:
# 去除m后面的？，以及暂无数据转为numpy的nan
from numpy import nan as NA
def convert_total_construction_area(x):
    if 'm' in x:
        return x.rstrip('m?')
    else:
        return NA

In [26]:
df['total_construction_area'] = df['total_construction_area'].apply(convert_total_construction_area)

In [27]:
df['total_construction_area'].head()

0     3000
1    50000
2    26300
3    30000
4      NaN
Name: total_construction_area, dtype: object

In [ ]:
#